// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html {
	height: 100%;
	font-family: @default-font;
	font-size: 62.5%;
	max-width: 880px;
	margin: 0 auto;
}

// VARIABLES:
@default-font: 'Roboto', sans-serif;
@grey-color: rgb(128, 128, 128);
@snow-white: white;
@light-grey: rgb(233, 236, 239);
@black-color: black;
@font-h1: 5rem;
@grey-border-line: 1px solid rgb(207, 207, 207);

// MIXINS:
.grey-bg-white-font() {
	background-color: @grey-color;
	color: @snow-white;
	.align-text-center();
}
.display-flex(@direction, @justify) {
	display: flex;
	flex-direction: @direction;
	justify-content: @justify;
}
.no-decoration() {
	text-decoration: none;
}
.first-bold() {
	&:first-child {
		font-weight: bold;
	}
}
.align-text-center() {
	text-align: center;
}


// ***********DELETE THIS BEFORE THE END**************
.border-color(@color) {
	border: 1px solid @color;
}
// ***********DELETE THIS BEFORE THE END**************

body {
	font-size: 1.6rem;
	width: 90%;
	margin: 0 auto;

	h1 {
		font-size: @font-h1;
	}
	h2 {
		font-size: @font-h1 * 0.7;
	}
	h3 {
		font-size: @font-h1 * 0.5;
	}
	h4 {
		font-size: @font-h1 * 0.4;
	}

	header {
		nav {
			.display-flex(row, flex-end);
			a {
				padding: 2%;
				.no-decoration();
				color: @black-color;
			}

			@media screen and (max-width: 500px) {
				.display-flex(column, space-between);
				a {
					border-bottom: @grey-border-line;
					margin: 0 auto;
					width: 100%;
					.align-text-center();
				}
			}
		}
	}

	section.top-box {
		background-color: @light-grey;
		.display-flex(column, space-around);
		padding: 4%;

		img {
			max-width: 30%;
		}

		.name-content {
			border-bottom: @grey-border-line;
			h1 {
				padding: 2% 0;
			}
			h4 {
				padding-bottom: 2%;
			}
		}

		.team-up {
			padding: 2% 0;

			p {
				margin: 2% 0;
				padding-bottom: 2%;
			}

			a {
				.grey-bg-white-font();
				.no-decoration();
				border-radius: 3px;
				margin: 4% 0;
				padding: 2%;
				font-size: 1.2em;
			}
		}

		@media screen and (max-width: 500px)  {
			.display-flex(row, space-between);
			flex-wrap: wrap;

			.name-content {
				width: 50%;
				border-bottom: none;
				h1 {
					font-size: 3rem;
				}				
			}
			img {
				max-width: 50%;
				width: 50%;
			}
		}
	}

	div.main-content {
		.display-flex(row, space-between);
		padding: 2% 0;

		.main-text {
			width: 50%;
			line-height: 2.5rem;
			p {
				margin-top: 2%;
			}
		}

		.main-table {
			padding-left: 2%;
			width: 50%;
			table {
				margin-top: 2%;
				width: 100%;
				tr, td {
					border: @grey-border-line;
					padding: 4%;
				}
			}
		}

		@media screen and (max-width: 500px) {
			.display-flex(column, flex-start);
			margin-top: 2%;
			.main-text {
				width: 100%;
			}
			.main-table {
				width: 100%;
				padding: 2% 0;
			}
		}

	}

	section.table-bottom {
		margin-top: 1%;
		table{
			width: 100%;
			margin-top: 1%;
			.align-text-center();
		}
		
		tr {
			&:nth-child(even) {
				background-color: rgb(242, 242, 242);
			}
			.first-bold();
		}

		th, td {
			border-top: @grey-border-line;
			border-bottom: @grey-border-line;
			padding: 2% 0;
			.first-bold();
		}		
	}

	footer {
		.align-text-center();
		.grey-bg-white-font();
		padding: 2% 0 4%;
		margin-top: 4%;

	}
}



